<h1> <%= @workout.name%> </h1>
<%= link_to "Edit workout", edit_workout_path(@workout), class: "button" %>
<ol>
  <% @workout.workout_exercises.each do |entry| %>
    <li><%= entry.exercise.name %></li>
      <ul>
        <li><%=entry.weight %></li>
        <li><%=entry.sets %></li>
        <li><%=entry.reps %></li>
      </ul>
  <% end %>
</ol>
<%= link_to "Delete workout", @workout, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
<%= link_to "Back to workouts", workouts_path, class: "button" %>
